[INCLUDES]
 
before =
 
[Definition]
 
actionstart = firewall-cmd --permanent --new-ipset=fail2ban-<name> --type=hash:ip --option=timeout=<bantime>
          firewall-cmd --permanent --zone=<blocktype> --add-source=ipset:fail2ban-<name>
              firewall-cmd --reload
          
 
actionstop = firewall-cmd --permanent --zone=<blocktype> --remove-source=ipset:fail2ban-<name>
         firewall-cmd --permanent --delete-ipset=fail2ban-<name>
             firewall-cmd --reload
             ipset flush fail2ban-<name>
             ipset destroy fail2ban-<name>
 
actionban = ipset add fail2ban-<name> <ip> timeout <bantime> -exist
 
actionunban = ipset del fail2ban-<name> <ip> -exist
 
[Init]



#[INCLUDES]
#before  =
#
#[Definition]
#actionstart =
#actionstop =
#actioncheck =
#
#actionflush = sed -i '/<source address=/d' /etc/firewalld/zones/drop.xml
#actionban = firewall-cmd --change-source=<ip> --zone=drop && firewall-cmd --change-source=<ip> --zone=drop --permanent
#actionunban = firewall-cmd --remove-source=<ip> --zone=drop && firewall-cmd --remove-source=<ip> --zone=drop --permanent || echo 0
#
#[Init]