# {{ ansible_managed }}
#
[nginx]
enabled  = true
filter   = nginx-limit-req
action   = iptables-multiport[name=ReqLimit, port="http,https", protocol=tcp]
maxretry = 5
findtime = 5m
bantime  = 30m
logpath  = /var/log/nginx/*error.log

