[sshd]
enabled  = true
maxretry = {{ fail2ban_ssh_maxretry }}
findtime = {{ fail2ban_ssh_findtime }}
bantime  = {{ fail2ban_ssh_bantime }}
filter   = sshd
#banaction = firewallcmd-ipset
#banaction = firewallcmd-ipset2
logpath  = {{ logs_sshd }}
